<table  style="background-color:#E6E6E6; border-radius: 15px;" width="70%">
	<tr>
		<td>
		    <ul class="nav nav-list">
		    <li class="nav-header">Options</li>
		    <li class="<%= (request.url.include? "indexStudent") ? "active" : "" %>"><%= link_to "Home", index_path(:email=>@student.email), :post => true%></li>
		    <li class="divider"></li>
		    <li class="<%= (request.url.include? "stateOfArt") ? "active" : "" %>"><%= link_to "Estado del arte", resourcesIndex_path(:email=>@student.email) %></li>
		    <li class="divider"></li>
		     <li class="<%= (request.url.include? "meetingsStudent") ? "active" : "" %>"><%= link_to "Reuniones", meetingsStudent_path(:email=>@student.email,:id=>@thesis) %></li>
		    <li class="<%= (request.url.include? "commitmentsStudent") ? "active" : "" %>"><%= link_to "Compromisos", commitmentsStudent_path(:email=>@student.email,:id=>@thesis, :comm_type=>'open') %></li>
		    <li class="divider"></li>
		    <li class="<%= (request.url.include? "entregas") ? "active" : "" %>"><%= link_to "Entregables de Tesis", indexDeliverable_path(:email=>@student.email) %></li>
		    </ul>
		</td>
		<tr><td>&nbsp;</td></tr>
		<tr><td>&nbsp;</td></tr>
	</tr>
</table>