<%= render "layouts/header"%>
</br>
</br>
</br>
</br>
<table width="100%"  style="left:0px;">
    <tr>
      <td width="20%" valign="top" align="center">
        <table  style="background-color:#E6E6E6; border-radius: 15px;" width="70%">
          <tr>
            <td>
              <ul class="nav nav-list">
              <li class="nav-header">Options</li>
              <li class="active"><%= link_to "Home", index_path(:email=>@teacher.email), :post => true%></li>
              <li><%= link_to "Crear Tesis", new_thesis_path(:id=>@teacher.id) %></li>
              </ul>
            </td>
            <tr><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td></tr>
          </tr>
        </table>
      </td>
      <td width="75%">
        <%= stylesheet_link_tag 'sources.css', :media => 'screen' %>
        <h2 class="center">Fuentes de investigación de la tesis</h2>
        <br/>
        <h2 class="center"> <%= @thesis_id %> -  <%=  @thesis.title %>  </h2>
        <br/>
        <table id="sources" class="tabla">
          <tr>
            <th> Source </th>
            <th> Citation </th>
            <th> URL </th>
          </tr>
          <% even = 1 %>
          <% @sources.each do |c| %>
              <tr>
                <td class="r<%=even.to_s%>"><%= c.title %> </td>
                <td class="r<%=even.to_s%>"><%= c.citation %> </td>
                <td class="r<%=even.to_s%>"><a href="<%=c.url%>"><%=c.url %> </a> </td>
                <td class="button"><%= button_to "Analysis", edit_source_path( c), :class=>"button", :method => :get %> </td>
              </tr>
              <% even = (even + 1) % 2 %>
          <% end %>
        </table>
        <div class="link">
           <br> <br>
           <%= link_to 'Regresar', thesis_path(:id =>@thesis.id, :id2 =>@teacher.id), class: "btn btn-large btn-primary"%>
        </div>
      </td>
   </tr>
</table>

