<%= render "layouts/headerStudent"%>
<table  width="100%"  style="left:0px;">
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
    <tr>
    	<td width="20%" valign="top" align="center">
    		<%= render "layouts/menuStudent"%>
    	</td>
	    <td width="75%" valign="top">
        	<h2><%=@section.name %></h2>
          <br>
          <% @section.subsections.each do |sub| %>
            <h3><%= sub.name %></h3>
            <i><%= sub.description %></i></br>
            <% @deliverables = Deliverable.find_all_by_subsection_id(sub.id) %>
            <% @deliverables.each do |d| %>
                   <div style="background-color:#cccccc; margin:5px 10px; padding: 5px;">
                    Título: <%= d.title %> <span style="color: #fff; font-size: 10px; font-style: italic;">Entregable del <%= d.created_at  %></span><br>
                    Descripción: <%= d.description %><br>
                    Archivo:<a href="/files/deliverables/<%= d.file_name %>" target="_blank">Ver archivo</a><br>
                    </div>
            <% end %>
          <% end %>
	  	</td>
   </tr>
</table>
<table>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
  <tr><td colspan="2">
    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>
  </td></tr>
</table>

<script type="text/javascript">  
    $(document).ready(function(){
        $(".report tr:odd").addClass("odd");
        $(".report tr:not(.odd)").hide();
        $(".report tr:first-child").show();
        
        $(".report tr.odd").click(function(){
            $(this).next("tr").toggle();
            $(this).find(".arrow").toggleClass("up");
        });
        //$(".report").jExpand();
    });
</script> 