<%= render "layouts/headerStudent"%>
<table  width="100%"  style="left:0px;">
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
    <tr>
    	<td width="20%" valign="top" align="center">
    		<%= render "layouts/menuStudent"%>
    	</td>
	    <td width="75%" valign="top">
        	<h2><%=@section.name %></h2>
          <br>
          <% @section.subsections.each do |sub| %>
            <h3><%= sub.name %></h3>
            <i><%= sub.description %></i></br>
            <table id="report" width="55%">
                <tr></tr>
                  <% @deliverables = Deliverable.find_all_by_subsection_id(sub.id) %>
                  <% @deliverables.each do |d| %>
                  <tr>
                      <td><%= d.title %></td>
                      <td align="right"><div class="arrow"></div></td>
                  </tr>
                  <tr>
                      <td colspan="5">
                          <ul>
                              <h4>Descripcion</h4><%= d.description %></br> 
                           </ul> 
                            <ul>
                            <h4>Archivo:</h4><a href="/files/deliverables/<%= d.file_name %>" target="_blank">Ver archivo</a><br> 
                           </ul> 
                      </td>
                  </tr>
                 <% end %>
              </table>
          <% end %>

	  	</td>
   </tr>
</table>
<table>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
  <tr><td colspan="2">
    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>
  </td></tr>
</table>

<script type="text/javascript">  
    $(document).ready(function(){
        $("#report tr:odd").addClass("odd");
        $("#report tr:not(.odd)").hide();
        $("#report tr:first-child").show();
        
        $("#report tr.odd").click(function(){
            $(this).next("tr").toggle();
            $(this).find(".arrow").toggleClass("up");
        });
        //$("#report").jExpand();
    });
</script> 