<h1>Listing subsections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Thesis</th>
    <th>Section</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subsections.each do |subsection| %>
  <tr>
    <td><%= subsection.name %></td>
    <td><%= subsection.description %></td>
    <td><%= subsection.thesis_id %></td>
    <td><%= subsection.section_id %></td>
    <td><%= link_to 'Show', subsection %></td>
    <td><%= link_to 'Edit', edit_subsection_path(subsection) %></td>
    <td><%= link_to 'Destroy', subsection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subsection', new_subsection_path %>
