<%= render "layouts/headerStudent"%>
<table width="100%"  style="left:0px;">
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
    <tr>
    	<td width="20%" valign="top" align="center">
    		<%= render "layouts/menuStudent"%>
    	</td>
	    <td width="75%">
	    	<%= stylesheet_link_tag 'commitments.css', :media => 'screen' %> 
	        <h1 class="center">Compromisos establecidos para la tesis</h1>
	        <br/>
	        <div class="link">
	         <p class="selector">Select Status:
	            <%= link_to "Open   |   ", commitmentsStudent_path(:email=>@student.email,:id=>@thesis, :comm_type=>'open')    %>
	            <%= link_to "All    |   ", commitmentsStudent_path(:email=>@student.email,:id=>@thesis, :comm_type=>'all')     %>
	           <%= link_to "Closed  |   ", commitmentsStudent_path(:email=>@student.email,:id=>@thesis, :comm_type=>'closed') %>
	           <%= link_to "Overdue |   ", commitmentsStudent_path(:email=>@student.email,:id=>@thesis, :comm_type=>'overdue') %>
	           <%= link_to "Due in 2 weeks", commitmentsStudent_path(:email=>@student.email,:id=>@thesis, :comm_type=>'in2weeks') %>
	         </p>
	        </div>
	        <table id="commitments" class="tabla">
	          <tr>
	            <th> Commitment </th>
	            <th> Description </th>
	            <th> Meeting </th>
	            <th> Due date </th>
	            <th> Status</th>
	          </tr>
	          <% even = 1 %>
	          <% @commitments.each do |c| %>
	              <tr>
	                <td class="r<%=even.to_s%>"><%= c.title %> </td>
	                <td class="r<%=even.to_s%>"><%= c.description %> </td>
	                <td class="r<%=even.to_s%>" id="meeting"><%= c.meeting_date( c.meeting_id) %> </td>
	                <td class="r<%=even.to_s%>"><%= c.due_date_day(c.due_date) %> </td>
	                <td class="r<%=even.to_s%>" id="<%= if c.done then 's2'
	                    else if c.overdue()  then 's1'
	                         else if c.in2weeks() then 's3'
	                              else 's4'   end end end%>"> <%= c.status_text(c.done) %> </td>
	                <td class="<%= if c.done then 'hidden' else 'button' end %>">
	                  <%= button_to "Close", edit_commitment_path( c), :class=>"button", :method => :get %> </td>
	              </tr>
	              <% even = (even + 1) % 2 %>
	          <% end %>
	        </table>
	  	</td>
   </tr>
</table>
<table>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
  <tr><td colspan="2">
    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>
  </td></tr>
</table>

