<%= render "layouts/headerStudent"%>
<table width="100%"  style="left:0px;">
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
    <tr>
    	<td width="20%" valign="top" align="center">
    		<%= render "layouts/menuStudent"%>
    	</td>
	    <td width="75%">
	    	<table>
	    		<tr>
				    <td><b>Título de la tesis:</b><br><%= @thesis.title %><br></td>
				</tr>
				<tr><td>&nbsp;</td></tr>
				<tr>
				    <td><b>Descripción:</b><br><%= @thesis.description %></td>
				</tr> 
				<tr><td>&nbsp;</td></tr>
				<tr>
				    <td><b>Estado:</b><br><%= @thesis.state %></td>
				</tr> 
				<tr><td>&nbsp;</td></tr>
				<tr>
				    <td><b>Recomendaciones:</b></td>
				</tr> 
				<% @thesis.recommendations.each do |recommendation| %>
	              <tr>
	                <td><i>El <%= recommendation.created_at  %></i>:&nbsp;&nbsp;&nbsp;<%= recommendation.recommendation %></td>
	              </tr>
	          	<% end %>
    		</table>
	    </td>
   </tr>
</table>
<table>
	<tr><td>&nbsp;</td></tr>
	<tr><td>&nbsp;</td></tr>
  <tr><td colspan="2">
    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>
  </td></tr>
</table>

